body {
    width: 1300px;
    margin: 20px auto;
    font-family: "Gill Sans", sans-serif;
}

table {
    width: 100%;
}

tr {
    background: #eeeeff;
}

td {
    vertical-align: top;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 9px;
    padding-right: 9px;
}

td.symbol {
    width: 250px;
}

td.docs {
}

ul.packages {
    padding: 0;
    margin: 0;
    column-count: 3;

}

th { text-align: left; }

.symbol, .package {
    text-transform: lowercase;
}

.internal {
    color: gray;
}

tr.not-documented > td.docs {
    color: gray;
}

li {
    list-style-type: none;
    background: #f5f5ff;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
    border-radius: 4px;
    font-size: larger;
}
